* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--closestColor: ;
	--userColor: ;
	--textColor: ;
}

body {
	text-align: center;
	background-image: url("./img/background.png");
	background-size: 2vmax;
}

h1 {
	font-size: 8vmin;
	margin-bottom: 1vmin;
}

h2 {
	font-size: 4vmin;
}

.text-color {
	margin-top: 1%;
	position: relative;
	bottom: -2.5vmin;
}

#input-hex {
	font-size: 3vmin;
}

#button-check {
	font-size: 3vmin;
	padding-left: 1vw;
	padding-right: 1vw;
	margin-top: 1%;
}

.user-color {
	margin: 0 auto;
	margin-top: 0.1%;
	width: 100vmin;
	height: 22vmin;
	background-color: var(--userColor);
	border-radius: 1vw;
	box-shadow: 0px 0px 0.5vmin 0px #000;
}

.text {
	position: relative;
	bottom: -2.5vmin;
}

.closest-color {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.1%;
	width: 100vmin;
	height: 22vmin;
	background-color: var(--closestColor);
	border-radius: 1vw;
	box-shadow: 0px 0px 0.5vmin 0px #000;
}

#closest-text {
	font-size: 4vmin;
	color: var(--textColor);
}


/* Title color variables */

#1 {
	color: var(--1color);
}

#2 {
	color: var(--2color);
}

#3 {
	color: var(--3color);
}

#4 {
	color: var(--4color);
}

#5 {
	color: var(--5color);
}

#6 {
	color: var(--6color);
}

#7 {
	color: var(--7color);
}

#8 {
	color: var(--8color);
}

#9 {
	color: var(--9color);
}

#10 {
	color: var(--10color);
}

#11 {
	color: var(--11color);
}

#12 {
	color: var(--12color);
}

#13 {
	color: var(--13color);
}

#14 {
	color: var(--14color);
}

#15 {
	color: var(--15color);
}

#16 {
	color: var(--16color);
}

#17 {
	color: var(--17color);
}

#18 {
	color: var(--18color);
}

#19 {
	color: var(--19color);
}

#20 {
	color: var(--20color);
}

#21 {
	color: var(--21color);
}

#22 {
	color: var(--22color);
}