* {
	margin: 0px;
	padding: 0px;
	font-family: monospace;
}

:root {
	--closestColor: ;
	--userColor: ;
	--textColor: ;
}

body {
	text-align: center;
}

h1 {
	font-size: 8vh;
	margin-bottom: 8vh;
}

h2 {
	font-size: 4vh;
}

.text-color {
	margin-top: 1%
}

#button-check {
	margin-top: 1%;
}

.user-color {
	margin: 0 auto;
	margin-top: 0.1%;
	width: 100vh;
	height: 23vh;
	background-color: var(--userColor);
	border: 0.1vh;
	border-color: black;
	border-style: solid;
}

.closest-color {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.1%;
	width: 100vh;
	height: 23vh;
	background-color: var(--closestColor);
	border: 0.1vh;
	border-color: black;
	border-style: solid;
}

#closest-text {
	font-size: 4vh;
	color: var(--textColor);
}