* {
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

:root {
	--closestColor: ;
	--userColor: ;
	--textColor: ;
	--1color:  ;
	--2color:  ;
	--3color:  ;
	--4color:  ;
	--5color:  ;
	--6color:  ;
	--7color:  ;
	--8color:  ;
	--9color:  ;
	--10color: ;
	--11color: ;
	--12color: ;
	--13color: ;
	--14color: ;
	--15color: ;
	--16color: ;
	--17color: ;
	--18color: ;
	--19color: ;
	--20color: ;
	--21color: ;
	--22color: ;
}

@keyframes move-background {
    from {
        background-position: 0% 0%
    }
    to { 
        background-position: 100% 200%
    }
}

body {
	text-align: center;
	background-image: url("./img/background.png");
	background-size: 2.5vmax;
	animation-name: move-background;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

h1 {
	font-size: 8vmin;
	margin-bottom: 1vmin;
}

h2 {
	font-size: 4vmin;
}

.text-color {
	margin-top: 1%;
	position: relative;
	bottom: -2.5vmin;
}

#input-hex {
	font-size: 3vmin;
}

#button-check {
	font-size: 3vmin;
	padding: 1vmax;
	padding-top: 0.5vmax;
	padding-bottom: 0.5vmax;
	margin-top: 1%;
	background-color: white;
	border-radius: 1vmin;
	border: 0.1vmax solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	font-weight: bold;
}

#button-check:hover {
	background-color: #f6f6f6;
}

#button-check:active {
	position: relative;
	top: 1px;
}

.user-color {
	margin: 0 auto;
	margin-top: 0.1%;
	width: 100vmin;
	height: 22vmin;
	background-color: var(--userColor);
	border-radius: 1vw;
	box-shadow: 0px 0px 0.5vmin 0px #000;
}

.text {
	position: relative;
	top: -1.5vmin;
}

.closest-color {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	margin-top: 0.1%;
	top: -3vmin;
	width: 100vmin;
	height: 20vmin;
	background-color: var(--closestColor);
	border-radius: 1vw;
	box-shadow: 0px 0px 0.5vmin 0px #000;
}

#closest-text {
	font-size: 4vmin;
	color: var(--textColor);
}


/* Title color variables */

#c1 {
	color: var(--1color);
}

#c2 {
	color: var(--2color);
}

#c3 {
	color: var(--3color);
}

#c4 {
	color: var(--4color);
}

#c5 {
	color: var(--5color);
}

#c6 {
	color: var(--6color);
}

#c7 {
	color: var(--7color);
}

#c8 {
	color: var(--8color);
}

#c9 {
	color: var(--9color);
}

#c10 {
	color: var(--10color);
}

#c11 {
	color: var(--11color);
}

#c12 {
	color: var(--12color);
}

#c13 {
	color: var(--13color);
}

#c14 {
	color: var(--14color);
}

#c15 {
	color: var(--15color);
}

#c16 {
	color: var(--16color);
}

#c17 {
	color: var(--17color);
}

#c18 {
	color: var(--18color);
}

#c19 {
	color: var(--19color);
}

#c20 {
	color: var(--20color);
}

#c21 {
	color: var(--21color);
}

#c22 {
	color: var(--22color);
}